.nav-primary .navbar-collapse {
    justify-content: flex-end;
}

.carousel-banner{
    height: 80vh;
    margin-top: 56px;
}

.carousel-banner img{
    height: 80vh;
    object-fit: cover;
}

.carousel-banner h5{
    font-size: 30px;
}

.carousel-banner p{
    font-size: 20px;
}

h1.title {
    margin: 25px 0;
}

.main-grid img {
    height: 230px;
}

.row-margin>div{
    margin-bottom: 25px;
}

.call-to-action .row {
    margin-top: 15px;
    padding: 15px 0;
    border-top: 1px solid lightgray;
}